.dashContainer{
    font-family: 'Poppins', 'sans-serif';
    display: flex;
    flex-direction: column;
    width: calc(100%-2em);
    background-color: #C69B7B;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
}

.dashContainer input{
    width: 20vmin;
    height: 3vmin;
}

.dashContainer button{
    width: 20vmin;
    justify-self: center;
    align-self: center;
    background-color: #CC704B;
}
