@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.boxContainer{
    font-family: 'Poppins', 'sans-serif';
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}
/* Swap box directions for phone screens */
@media only screen and (max-width: 600px) {
    .boxContainer {
        flex-direction: column;
    }
    .contentBox{
        width: 30vmin;
    }
  }


.contentBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #F7CCAC;
    border-radius: 2em;
    height:auto;
    padding: 1em;
    width: 20vmax;
    font-weight: 600;
    font-size: .8em;
    
}

.contentBox button{
    background-color: #CC704B;
}

.contentBox>*{
    margin: .2em;
}